@media screen and (min-width: 1400px) {
  .second {
    .container {
      justify-content: space-between;
    }
  }
  .forth{
    .container{
      .flex{
        justify-content: space-between;
      }
    }
  }
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 100%;
    padding: 0 13px;
  }

  .first {
    height: auto;
    padding: 50px 0;
    .container {
      h1 {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .second {
    .container {
      .card {
        width: 300px;
        height: 350px;
        .top {
          height: 50%;
        }
      }
      .card1 {
        padding: 15px;
        height: 400px;
      }
    }
  }

  .third{
    .container{
      .box{
        padding: 30px;
        h1{
          font-size: 30px;
        }
        p{
          font-size: 14px;
        }
        .learn_more{
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    height: auto;
    padding: 20px 0;
    .container {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      text-align: center;
    }
  }
  nav {
    border-bottom: 1px solid #002d5b;
    .container {
      .reg_btn {
        font-size: 14px;
        padding: 5px 8px;
      }

      .humb_open {
        display: block !important;
        font-size: 22px;
        color: #002d5b;
      }

      .menu.active {
        left: 0;
      }

      .menu {
        position: absolute;
        background-color: #002d5b;
        width: 100%;
        height: auto;
        flex-direction: column;
        left: -100%;
        top: 0;
        padding: 90px 0;
        border-top: 2px solid white;
        .humb_close {
          display: block;
        }
        li,
        a {
          color: aliceblue;
          font-size: 24px;
        }
      }
    }
  }

  .first {
    .container {
      h1 {
        width: 100%;
        font-size: 50px;
      }
    }
  }

  .second {
    .container {
      .card {
        width: 250px;
        height: 350px;
        .top {
          height: 45%;
        }
      }

      .card1 {
        width: 300px;
        height: 400px;
      }
    }
  }

  .third{
    .container{
      gap: 50px;
      flex-direction: column;
      img{
        width: 80%;
      }
      .box{
        width: 80%;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  header {
    .container {
      .left {
        flex-direction: column;
        gap: 20px;
        h3 {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {

  .first {
    padding: 30px;
    .container {
      .learn_more {
        font-size: 15px;
        padding: 8px 12px;
      }
    }
  }
  .second {
    .container {
      .card {
        .top {
          height: 55%;
        }
        width: 300px;
        height: 400px;
      }
    }
  }
}
